<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>huiwan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddMinisiteCollect</servlet-name>
    <servlet-class>api.account.AddMinisiteCollect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMinisiteCollect</servlet-name>
    <url-pattern>/api/account/addMinisiteCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPlan</servlet-name>
    <servlet-class>api.account.AddPlan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlan</servlet-name>
    <url-pattern>/api/account/addPlan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentMinisite</servlet-name>
    <servlet-class>api.account.CommentMinisite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentMinisite</servlet-name>
    <url-pattern>/api/account/commentMinisite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentSite</servlet-name>
    <servlet-class>api.account.CommentSite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentSite</servlet-name>
    <url-pattern>/api/account/commentSite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMinisiteCollect</servlet-name>
    <servlet-class>api.account.DeleteMinisiteCollect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMinisiteCollect</servlet-name>
    <url-pattern>/api/account/deleteMinisiteCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePlan</servlet-name>
    <servlet-class>api.account.DeletePlan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlan</servlet-name>
    <url-pattern>/api/account/deletePlan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCommentSiteList</servlet-name>
    <servlet-class>api.account.GetCommentSiteList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCommentSiteList</servlet-name>
    <url-pattern>/api/account/getCommentSiteList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMinisiteCollectList</servlet-name>
    <servlet-class>api.account.GetMinisiteCollectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMinisiteCollectList</servlet-name>
    <url-pattern>/api/account/getMinisiteCollectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPlanList</servlet-name>
    <servlet-class>api.account.GetPlanList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPlanList</servlet-name>
    <url-pattern>/api/account/getPlanList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>api.account.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/api/account/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetLoginPwd</servlet-name>
    <servlet-class>api.account.ResetLoginPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetLoginPwd</servlet-name>
    <url-pattern>/api/account/resetLoginPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>api.account.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/api/account/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>api.account.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/api/account/updateUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>api.account.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/api/account/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCitiesInfo</servlet-name>
    <servlet-class>api.location.GetCitiesInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCitiesInfo</servlet-name>
    <url-pattern>/api/location/getCitiesInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCityList</servlet-name>
    <servlet-class>api.location.GetCityList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCityList</servlet-name>
    <url-pattern>/api/location/getCityList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMinisiteComments</servlet-name>
    <servlet-class>api.location.GetMinisiteComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMinisiteComments</servlet-name>
    <url-pattern>/api/location/getMinisiteComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMinisiteCommentsNumber</servlet-name>
    <servlet-class>api.location.GetMinisiteCommentsNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMinisiteCommentsNumber</servlet-name>
    <url-pattern>/api/location/getMinisiteCommentsNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMinisiteList</servlet-name>
    <servlet-class>api.location.GetMinisiteList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMinisiteList</servlet-name>
    <url-pattern>/api/location/getMinisiteList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMinisitesInfo</servlet-name>
    <servlet-class>api.location.GetMinisitesInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMinisitesInfo</servlet-name>
    <url-pattern>/api/location/getMinisitesInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPictureForMinisiteByMinisiteId</servlet-name>
    <servlet-class>api.location.GetPictureForMinisiteByMinisiteId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPictureForMinisiteByMinisiteId</servlet-name>
    <url-pattern>/api/location/getPictureForMinisiteByMinisiteId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPictureForSiteBySiteId</servlet-name>
    <servlet-class>api.location.GetPictureForSiteBySiteId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPictureForSiteBySiteId</servlet-name>
    <url-pattern>/api/location/getPictureForSiteBySiteId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSiteComments</servlet-name>
    <servlet-class>api.location.GetSiteComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSiteComments</servlet-name>
    <url-pattern>/api/location/getSiteComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSiteCommentsNumber</servlet-name>
    <servlet-class>api.location.GetSiteCommentsNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSiteCommentsNumber</servlet-name>
    <url-pattern>/api/location/getSiteCommentsNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSiteList</servlet-name>
    <servlet-class>api.location.GetSiteList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSiteList</servlet-name>
    <url-pattern>/api/location/getSiteList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSitesInfo</servlet-name>
    <servlet-class>api.location.GetSitesInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSitesInfo</servlet-name>
    <url-pattern>/api/location/getSitesInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUsersNumberOfMinisite</servlet-name>
    <servlet-class>api.location.GetUsersNumberOfMinisite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsersNumberOfMinisite</servlet-name>
    <url-pattern>/api/location/getUsersNumberOfMinisite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUsersNumberOfSite</servlet-name>
    <servlet-class>api.location.GetUsersNumberOfSite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsersNumberOfSite</servlet-name>
    <url-pattern>/api/location/getUsersNumberOfSite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>api.util.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/api/util/uploadFile</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>filter.AuthFilter</filter-class>
    <init-param>
      <param-name>test</param-name>
      <param-value>testValue</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <servlet-name>AddMinisiteCollect</servlet-name>
    <servlet-name>AddPlan</servlet-name>
    <servlet-name>CommentMinisite</servlet-name>
    <servlet-name>CommentSite</servlet-name>
    <servlet-name>DeleteMinisiteCollect</servlet-name>
    <servlet-name>DeletePlan</servlet-name>
    <servlet-name>GetCommentSiteList</servlet-name>
    <servlet-name>GetMinisiteCollectList</servlet-name>
    <servlet-name>GetPlanList</servlet-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-name>ResetLoginPwd</servlet-name>
    <servlet-name>UpdateUserInfo</servlet-name>
  </filter-mapping>
</web-app>